@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

%displayFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: 400;
    text-align: right;
    color: #333333;
    text-decoration: none;
    list-style: none;
    user-select: none;
    direction: rtl;
}

li {
    direction: initial;
    unicode-bidi: initial;
}

body {
    background-color: white;
    min-height: 100vh;
}

header {
    height: 70px;
    @extend %displayFlex;
    background-color: #00BFFF;
    border-bottom: 5px solid #ddf7ff;

    h1 {
        font-weight: 600;
        font-size: 32px;
        text-decoration: underline solid;
    }
}

main:not(#elementDescribe) {
    padding: 30px 50px;

    h2 {
        margin-right: 10px;
        margin-bottom: 20px;
    }

    ul li {
        padding: 10px 20px;
        margin-bottom: 10px;
        background-color: #E6F7FF;
        border: 2px solid #0077BE;
        border-radius: 10px;
        transition: all .6s ease;
        cursor: pointer;

        h3 {
            display: contents;

            @media (max-width: 360px) {
                font-size: 20px;
            }
        }

        i {
            transition: color .6s ease;
        }

        &:hover {
            background-color: #d0efff;
            color: black;

            i {
                color: #0077BE;
            }
        }

        @media (max-width: 360px) {
            font-size: 20px;
        }
    }

    @media (max-width: 400px) and (min-width: 360px) {
        padding: 30px 26px;
    }

    @media (max-width: 360px) {
        padding: 20px 20px;

        p {
            font-size: 20px;
        }
    }
}

main#elementDescribe {
    padding: 30px 50px;

    #flex {
        width: 100%;
        @extend %displayFlex;
        justify-content: right;
        flex-wrap: wrap;
    }

    >div,
    #flex>div {
        margin-top: 30px;
        width: 400px;
        background-size: contain !important;

        @media (max-width: 500px) {
            width: 100%;
        }
    }

    h2 {
        font-size: 26px;
        font-weight: 600;

        &:first-of-type {
            display: contents;
        }

        &:not(:first-of-type) {
            margin-top: 20px;
        }

        @media (max-width: 486px) {
            font-size: 24px;
        }
    }

    p {
        display: contents;

        @media (max-width: 486px) {
            font-size: 20px;
        }
    }

    >ul>li {

        h3 {
            font-size: 24px;
        }

        &:not(:first-of-type) h3 {
            margin-top: 10px;
        }
    }

    ol li {
        direction: rtl;
        margin-right: 5px;

        &:not(#notList) {
            list-style: decimal;
            list-style-position: inside;
        }

        @media (max-width: 486px) {
            font-size: 20px;
        }
    }

    @media (max-width: 546px) and (min-width: 506px) {
        padding: 20px 30px;
    }

    @media (max-width: 506px) and (min-width: 446px) {
        padding: 10px 20px;
    }

    @media (max-width: 446px) {
        padding: 10px 10px;
    }
}

footer {
    position: absolute;
    left: 0;
    width: 100%;
    height: 70px;
    @extend %displayFlex;
    background-color: #00BFFF;
    border-top: 5px solid #ddf7ff;

    h2 {
        font-weight: 500;
        font-size: 24px;

        @media (max-width: 512px) and (min-width: 450px) {
            font-size: 22px;
        }

        @media (max-width: 450px) and (min-width: 400px) {
            font-size: 20px;
        }

        @media (max-width: 400px) and (min-width: 360px) {
            font-size: 18px;
        }

        @media (max-width: 360px) {
            font-size: 16px;
        }
    }

    @media (max-width: 360px) {
        height: 50px;
    }
}